.macroBoard {
    -fx-background-color:  #00003F;
}

.Board {
    -fx-background-color: white; 
}

.button {
    -fx-background-color: lightgray;
    -fx-font-size: 25;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.blue
{
    -fx-text-fill: #0000ff;
}

.red
{
    -fx-text-fill: #ff0000;
}