.macroBoard {
    -fx-background-color:  #BF925A;
}

.Board {
    -fx-background-color: white; 
}

.button {
    -fx-background-color: lightgray;
    -fx-font-size: 25;
}

.blue
{
    -fx-text-fill: #0000ff;
}

.red
{
    -fx-text-fill: #ff0000;
}